/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root {
    --cyan: hsl(180, 66%, 49%);
    --darkviolet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayviolet: hsl(257, 7%, 63%);
    --verydarkblue: hsl(255, 11%, 22%);
    --verydarkviolet: hsl(260, 8%, 14%);
    --lightgray: hsl(225, 33.33%, 95.29%);
}

/* GLOBALS */
html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

h1 {
    font-size: 7.5em;
    font-weight: 900;
    line-height: 1;
}

h3 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

p {
    font-size: 1.7em;
    line-height: 1.4;
}

/* UTILS */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    background-color: var(--cyan);
    color: #ffffff;
    padding: .75rem 1.5rem;
    border-radius: 5rem;
    font-weight: 700;
    box-shadow: .1rem .1rem 1rem var(--gray);
}

.button__primary {
    display: inline-block;
    background-color: var(--cyan);
    color: #ffffff;
    padding: 1rem 2.3rem;
    border-radius: 5rem;
    font-weight: 700;
    font-size: 1.6em;
}

.button__form {
    background-color: var(--cyan);
    color: #ffffff;
    height: 4.3rem;
    padding: 1rem 3rem;
    border-radius: .75rem;
    font-weight: 700;
    font-size: 1.5em;
}

.bg-lightgray {
    background-color: var(--lightgray);
}

.bg-boost {
    background-image: url(../images/bg-boost-desktop.svg);
    background-color: var(--darkviolet);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.circle {
    width: 6rem;
    height: 6rem;
    background-color: var(--darkviolet);
    border-radius: 50%;
    padding: 1.5rem;
}

/* HEADER */
header {
    padding-top: 5rem;
    background-image: url(../images/illustration-working.svg);
    background-repeat: no-repeat;
    background-position: 110% 80%;
    background-size: 70rem;
    margin-bottom: 10rem;
}

.navbar {
    margin: 1rem 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3.5rem;
}

.navbar a {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--grayviolet);
}

.logo {
    display: inline-block;
    width: 10rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.3rem;
}

.login {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3.3rem;
}

.login .button {
    color: #ffffff;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.banner h1 {
    color: var(--verydarkblue)
}

.banner p {
    color: var(--grayviolet);
    font-size: 1.8em;
    line-height: 1.7;
    margin: .3rem 0 2.5rem;
}

.banner p span {
    display: block;
}

.banner__column:first-child {
    width: 60%;
    padding: 3rem 0;
}


/* MIDDLE FORM */
.box__middle {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: var(--darkviolet);
    height: 12rem;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -16rem;
}

.box__middle form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box__middle input[type='text'] {
    height: 4.3rem;
    border-radius: .75rem;
    width: calc(100% - 25rem);
    padding: 0 2.3rem;
}

.box__middle input[type='text']::placeholder {
    color: var(--grayviolet);
    font-weight: 500;
    font-size: 1.5rem;
}

/* MAIN */
.section-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
}

.section-light .title {
    color: var(--verydarkviolet);
}

.section-light .text {
    color: var(--grayviolet);
    margin: 1.5rem 0 2rem;
    text-align: center;
    max-width: 37.5rem;
}

.line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: .8rem;
    background-color: var(--grayviolet);
    z-index: 0;
}

.block-card {
    position: relative;
    display: flex;
    margin: 5rem 0;
    min-height: 30rem;
    justify-content: space-between;
}

.block-card .card:nth-child(2) {
    align-self: flex-start;
}

.block-card .card:nth-child(3) {
    align-self: center;
}

.block-card .card:last-child {
    align-self: flex-end;
}

.block-card .circle {
    margin-top: -3.5rem;
    margin-bottom: 2rem;
}

.card {
    background-color: #ffffff;
    border-radius: .5rem;
    color: var(--grayviolet);
    padding: 1rem 3.3rem 2.5rem;
    width: calc(33% - 1.5rem);
    z-index: 1;
}

.card__title {
    color: var(--darkviolet);
    font-size: 2.3em;
    margin-bottom: 1.3rem;
}

.section-dark {
    color: #ffffff;
    padding: 5rem 0;
    margin-top: 5rem;
}

.section-dark div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* FOOTER */
footer {
    background-color: var(--verydarkviolet);
    color: #ffffff;
    padding: 5rem 0 1.5rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer h5 {
    margin-bottom: 2rem;
    font-size: 1.5em;
}

footer ul {
    color: var(--gray);
}

footer ul li {
    margin: 1rem 0;
    font-size: 1.3em;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}